<span style={{computedStyle}}>{{@text}}</span>

<input id={{uniqId}} class="toggle-code" type="checkbox">
<label for={{uniqId}}
  class="css-button">CSS</label>

<div class="code-snippet">
  {{code-snippet name=@code}}
</div>
