<span style={{computedStyle}}>{{@text}}</span>

<input id={{uniqId}} class="toggle-code" type="checkbox">
<label for={{uniqId}}
  class="relative float-right text-xs text-grey border border-grey p-1 -mt-1 rounded cursor-pointer block">CSS</label>

<div class="mt-4 code-snippet">
  {{code-snippet name=@code}}
</div>
